<div id="app-root-container"
  data-workouts="<%= workouts.to_json %>"
  data-activity-options="<%= activity_options.to_json %>"
  data-data-point-category-options="<%= data_point_category_options.to_json %>" >
</div>

<%= content_for(:javascript) do %>
  <script type="text/javascript">
    $(function() {
      console.log("renders root from wherever");

      var $appRoot = $("#app-root-container");
      var currentWorkouts = $appRoot.data('workouts');
      App.activityOptions = $appRoot.data('activity-options');
      var dataPointCategoryOptions = $appRoot.data('data-point-category-options');

      var workoutList = new App.Collections.WorkoutList();
      workoutList.reset(currentWorkouts)


      var rootModel = new App.Models.Root({
        workoutList: workoutList
        dataPointCategoryOptions: dataPointCategoryOptions
      });

      var appRouter = new App.Router(rootModel);

      Backbone.history.start({
        pushState: true,
        root: '/workouts/'
      });

      React.renderComponent(
        App.Components.Root({
          model: rootModel,
          router: appRouter
        }),
        document.getElementById('app-root-container')
      );
    });
  </script>
<% end %>

